
@{
		Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="" />
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />
	<title>سالن زیبایی سبزه ناز</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/fontawesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/Content/frontend/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/loader.min.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/style.css">
	<link rel="stylesheet" type="text/css" href="/Content/frontend/flaticon.min.css">
	<link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/navigation.css">
	<link href="~/Content/FrontEnd/style-rtl.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<meta name="robots" content="noindex" /> 
</head>
<body>

	<div class="page-wraper">
		<header class="site-header header-style-1 mobile-sider-drawer-menu">
			<div class="sticky-header main-bar-wraper  navbar-expand-lg">
				<div class="main-bar">
					<div class="container">
						<div class="logo-header">
							<div class="logo-header-inner logo-header-one">
								<a href="/">
									<img src="/images/logo2.png" alt="" />
								</a>
							</div>
						</div>

						<button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar icon-bar-first"></span>
							<span class="icon-bar icon-bar-two"></span>
							<span class="icon-bar icon-bar-three"></span>
						</button>

						<div class="nav-animation header-nav navbar-collapse collapse d-flex ">
							<ul class=" nav navbar-nav">
								<li>
									<a href="/">خانه</a>
								</li>
								<li>
									<a href="#">خدمات</a>
									<ul class="sub-menu">
										<li><a href="#">آرایش</a></li>
										<li><a href="#">کاشت ناخن</a></li>
										<li><a href="#">شنیون</a></li>
										<li><a href="#">اکستنشن مژه</a></li>
										<li><a href="#">پدیکور</a></li>
										<li><a href="#">مانیکور</a></li>
										<li><a href="#">پاک سازی پوست</a></li>
										<li><a href="#">کوتاهی مو</a></li>
										<li><a href="#">رنگ مو</a></li>
									</ul>
								</li>
								<li><a href="#">وبلاگ</a></li>
								<li><a href="#">درباره ما</a></li>
								<li><a href="#">تماس با ما</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</header>
		<div class="page-content">
			<div class="slider-outer">

				<div id="rev_slider_1050_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="webproduct-light" data-source="gallery" style="background-color:transparent;padding:0px;">
					<div id="rev_slider_1050_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
						<ul>
							<li data-index="rs-2938" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/main-slider/slider2/slide4.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="/images/main-slider/slider2/slide4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 Girl Img -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2938-layer-1"
										 data-x="['left','left','center','center']" data-hoffset="['-254','-200','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-5','-80','-5','-20']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 5;text-transform:left;border-width:0px;"><img src="/images/main-slider/slider2/girl-1.png" alt="" data-ww="['951px','951px','600px','350px']" data-hh="['653px','653px','412px','240px']" width="951" height="653" data-no-retina></div>


								<!-- LAYER NR. 2 White Circle -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2938-layer-2"
										 data-x="['left','left','center','center']" data-hoffset="['-254','-254','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-300','-200','-100']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 4;text-transform:left;border-width:0px;">
									<img src="/images/main-slider/slider2/circle.png" alt="" class="spin-circle" data-ww="['1003px','1003px','700px','350px']" data-hh="['1051px','1051px','733px','367px']" width="1003" height="1051" data-no-retina>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption WebProduct-Title   tp-resizeme"
										 id="slide-2938-layer-7"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['-200','-200','137','130']"
										 data-fontsize="['48','48','48','34']"
										 data-lineheight="['56','56','56','50']"
										 data-width="['700','700','100%','100%']"
										 data-height="['none','none','none','none']"
										 data-whitespace="nowrap"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 11;"><span class="bg-white p-lr30">آرایش عروس</span></div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption WebProduct-SubTitle   tp-resizeme"
										 id="slide-2938-layer-10"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['0','0','220','220']"
										 data-fontsize="['80','60','60','30']"
										 data-lineheight="['90','70','70','38']"
										 data-width="['700','700','700','300']"
										 data-height="['none','none','none','none']"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 12 ; color:#fff; text-align: right; white-space:normal">به آهنگ زیبایی<br>ما گوش دهید</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption"
										 id="slide-2938-layer-8"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['200','200','456','356']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="button"
										 data-responsive_offset="on"
										 data-responsive="off"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 14;"><a href="javascript:;" class="site-button site-btn-effect">مشاهده نمونه کارها</a></div>
							</li>

							<li data-index="rs-2939" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/main-slider/slider2/slide3.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="/images/main-slider/slider2/slide3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 Girl Img -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2939-layer-1"
										 data-x="['left','left','center','center']" data-hoffset="['-160','-200','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-5','-80','-5','-20']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 5;text-transform:left;border-width:0px;"><img src="/images/main-slider/slider2/girl-2.png" alt="" data-ww="['951px','951px','600px','350px']" data-hh="['653px','653px','412px','240px']" width="951" height="653" data-no-retina></div>


								<!-- LAYER NR. 2 White Circle -->
								<div class="tp-caption   tp-resizeme"
										 id="slide-2939-layer-2"
										 data-x="['left','left','center','center']" data-hoffset="['-254','-254','70','0']"
										 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-200','-300','-200','-100']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="image"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['left','left','left','left']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 4;text-transform:left;border-width:0px;">
									<img src="/images/main-slider/slider2/circle.png" alt="" class="spin-circle" data-ww="['1003px','1003px','700px','350px']" data-hh="['1051px','1051px','733px','367px']" width="1003" height="1051" data-no-retina>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption WebProduct-Title   tp-resizeme"
										 id="slide-2939-layer-7"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['-200','-200','137','130']"
										 data-fontsize="['48','48','48','34']"
										 data-lineheight="['56','56','56','50']"
										 data-width="['700','700','100%','100%']"
										 data-height="['none','none','none','none']"
										 data-whitespace="nowrap"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 11;"><span class="bg-white p-lr30">شنیون مو</span></div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption WebProduct-SubTitle   tp-resizeme"
										 id="slide-2939-layer-10"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['0','0','220','220']"
										 data-fontsize="['90','70','70','38']"
										 data-lineheight="['90','70','70','38']"
										 data-width="['700','700','700','300']"
										 data-height="['none','none','none','none']"
										 data-type="text"
										 data-responsive_offset="on"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 12 ; color:#fff; text-transform:uppercase; white-space:normal">به آهنگ زیبایی<br>ما گوش دهید</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption"
										 id="slide-2939-layer-8"
										 data-x="['right','right','center','center']" data-hoffset="['50','50','0','0']"
										 data-y="['middle','middle','top','top']" data-voffset="['200','200','456','356']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-type="button"
										 data-responsive_offset="on"
										 data-responsive="off"
										 data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
										 data-textAlign="['right','right','center','center']"
										 data-paddingtop="[0,0,0,0]"
										 data-paddingright="[0,0,0,0]"
										 data-paddingbottom="[0,0,0,0]"
										 data-paddingleft="[0,0,0,0]"
										 style="z-index: 14;"><a href="javascript:;" class="site-button site-btn-effect">مشاهده نمونه کارها</a></div>
							</li>
						</ul>
						<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
					</div>
				</div>
				<div class="slider-social-outer social-mobile-hide">
					<div class="slider-social-info">
						<ul class="list-unstyled text-black">
							<li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-telegram"></i></a></li>
							<li><a href="javascript:;"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section-full p-t50 welcome-section-outer">
				<div class="welcome-section-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 col-md-12">
								<div class="img-colarge">
									<div class="colarge-1"><img src="/images/colarge/s1.jpg" alt=""></div>
									<div class="colarge-2"><img src="/images/colarge/s2.jpg" alt=""></div>
									<div class="colarge-3 slide-right"><img src="/images/colarge/s3.jpg" alt=""></div>
								</div>
							</div>
							<div class="col-lg-7 col-md-12">
								<div class="welcom-to-section">
									<div class="left wt-small-separator-outer">
										<div class="wt-small-separator">
											<div class="sep-leaf-left">
												<img src="/images/sep-leaf-left.png" alt="">
											</div>
											<div>سبزه ناز</div>
											<div class="sep-leaf-right">
												<img src="/images/sep-leaf-right.png" alt="">
											</div>
										</div>
									</div>
									<h2>ارائه کلیه خدمات زیبایی و خدمات عروس در سالن سبزه ناز با مدیریت سودابه رضوانی</h2>
									<!-- TITLE END-->
									<p>توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد.</p>
									<p>توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد. توضیحات مختصری راجع به مجموعه در اینجا قرار می گیرد.</p>

									<div class="welcom-to-section-bottom d-flex justify-content-between">
										<div class="welcom-btn-position m-t20">
											<a href="javascript:;" class="site-button site-btn-effect">اطلاعات بیشتر</a>
										</div>

									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="section-full p-t80 p-b50 bg-orange-light">
				<div class="container">

					<div class="center wt-small-separator-outer section-head">
						<div class="wt-small-separator">
							<div class="sep-leaf-left"><img src="/images/sep-leaf-left.png" alt=""></div>
							<div>گالری تصاویر</div>
							<div class="sep-leaf-right"><img src="/images/sep-leaf-right.png" alt=""></div>
						</div>
						<h2 data-title="Gallery">نمونه کارهای سالن زیبایی سبزه ناز</h2>
					</div>
					<!-- TITLE END-->
					<!-- PAGINATION START -->
					<div class="filter-wrap work-grid p-b30 text-center">
						<ul class="masonry-filter link-style ">
							<li class="active"><a data-filter="*" href="#">همه</a></li>
							<li><a data-filter=".cat-1" href="#">شنیون</a></li>
							<li><a data-filter=".cat-2" href="#">کوتاهی مو</a></li>
							<li><a data-filter=".cat-3" href="#">آرایش</a></li>
							<li><a data-filter=".cat-4" href="#">رنگ مو</a></li>
							<li><a data-filter=".cat-5" href="#">آرایش عروس</a></li>
						</ul>
					</div>
					<!-- PAGINATION END -->
					<!-- GALLERY CONTENT START -->
					<div class="masonry-wrap mfp-gallery  row clearfix">
						<!-- COLUMNS 1 -->
						<div class="masonry-item cat-1 col-lg-4 col-md-6 col-sm-6 m-b30">

							<div class="project-img-effect-1">
								<img src="/images/gallery/thumb/pic1.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte m-b10 m-t0">Pixie</h3>
									<p class="title-style-2">Hair Products</p>
								</div>
								<i></i>
								<a href="images/gallery/thumb/pic1.jpg" class="mfp-link"></a>
							</div>

						</div>
						<!-- COLUMNS 2 -->
						<div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/images/gallery/pic1.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte m-b10 m-t0">Colors</h3>
									<p class="title-style-2">Hairstyle</p>
								</div>
								<i></i>
								<a href="images/gallery/pic1.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 3 -->
						<div class="masonry-item cat-3 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/images/gallery/thumb/pic4.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">Braids</h3>
									<p class="title-style-2">Hairstyle</p>
								</div>
								<i></i>
								<a href="images/gallery/thumb/pic4.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 4 -->
						<div class="masonry-item cat-4 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/images/gallery/thumb/pic3.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">Keratin</h3>
									<p class="title-style-2">Hairstyle</p>
								</div>
								<i></i>
								<a href="images/gallery/thumb/pic3.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 5 -->
						<div class="masonry-item cat-5 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/images/gallery/pic5.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">Curls</h3>
									<p class="title-style-2">Hairstyle</p>
								</div>
								<i></i>
								<a href="images/gallery/pic5.jpg" class="mfp-link"></a>
							</div>
						</div>
						<!-- COLUMNS 6 -->
						<div class="masonry-item cat-2 col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="project-img-effect-1">
								<img src="/images/gallery/pic4.jpg" alt="" />
								<div class="wt-info">
									<h3 class="wt-tilte  m-b10 m-t0">Tail</h3>
									<p class="title-style-2">Hair Products</p>
								</div>
								<i></i>
								<a href="images/gallery/pic4.jpg" class="mfp-link"></a>
							</div>
						</div>

					</div>
					<!-- GALLERY CONTENT END -->
				</div>
			</div>
			<!-- GALLERY SECTION END -->
			<!-- SERVICES SECTION START -->
			<div class="section-full p-t80 p-b50 bg-white bg-no-repeat bg-top-right" style="background-image:url(images/background/bubble-bg.png)">

				<div class="container">
					<div class="center wt-small-separator-outer section-head">
						<div class="wt-small-separator">
							<div class="sep-leaf-left"><img src="/images/sep-leaf-left.png" alt=""></div>
							<div>سالن زیبایی سبزه ناز</div>
							<div class="sep-leaf-right"><img src="/images/sep-leaf-right.png" alt=""></div>
						</div>
						<h2 data-title="Services">خدمات ما</h2>
					</div>

				</div>
				<div class="section-content container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="icon-circle-box v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50  m-b30 corner-radius">
									<div class="icon-lg  m-b20 icon-circle">
										<span class="icon-cell">
											<i class="flaticon-haircut v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">کوتاهی مو</h3>
										<p>توضیحات کوتاهی برای خدمت کوتاهی مو در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
							<div class="icon-circle-box v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50  corner-radius">
									<div class="icon-lg  m-b20 icon-circle">
										<span class="icon-cell">
											<i class="flaticon-hair-dye v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">رنگ مو</h3>
										<p>توضیحات کوتاهی برای خدمت رنگ مو در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
							<div class="icon-circle-box	 v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50 corner-radius">
									<div class="icon-lg   m-b20  icon-circle">
										<span class="icon-cell">
											<i class="flaticon-hair-cut v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">شنیون</h3>
										<p>توضیحات کوتاهی برای خدمت شنیون مو در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-12  m-b30">
							<div class="icon-circle-box v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50 corner-radius">
									<div class="icon-lg  m-b20  icon-circle">
										<span class="icon-cell">
											<i class="flaticon-beauty v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">اکستنشن مو</h3>
										<p>توضیحات کوتاهی برای خدمت اکستنشن مو در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-12  m-b30">
							<div class="icon-circle-box v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50 corner-radius">
									<div class="icon-lg  m-b20  icon-circle">
										<span class="icon-cell">
											<i class="flaticon-beauty-salon v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">کاشت و ژل ناخن</h3>
										<p>توضیحات کوتاهی برای خدمت اکستنشن مو در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>




						<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
							<div class="icon-circle-box v-icon-effect bg-orange-light">
								<div class="wt-icon-box-wraper center p-b50  corner-radius">
									<div class="icon-lg  m-b20  icon-circle">
										<span class="icon-cell">
											<i class="flaticon-makeup v-icon "></i>
										</span>
									</div>
									<div class="icon-content relative">
										<h3 class="wt-tilte">آرایش</h3>
										<p>توضیحات کوتاهی برای خدمت آرایش در این قسمت قرار میگیرد.</p>
										<a href="javascript:;" class="site-button-link black">اطلاعات بیشتر</a>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

			<div class="section-full  p-tb80 bg-white discount-section-outer">

				<div class="container">
					<div class="discount-add shadow-lg">
						<div class="row no-gutters">

							<div class="col-xl-6 col-lg-5 col-md-12 bg-cover discount-add-pic  bg-bottom-center" style="background-image:url(/images/add-pic.jpg)">

							</div>

							<div class="col-xl-6 col-lg-7 col-md-12 bg-cover" style="background-image: url(/images/background/add-bg.png);">
								<div class="discount-add-info">
									<div class="left wt-small-separator-outer">
										<div class="wt-small-separator">
											<div class="sep-leaf-left">
												<img src="/images/sep-leaf-left.png" alt="">
											</div>
											<div>خدمات ویژه عروس</div>
											<div class="sep-leaf-right">
												<img src="/images/sep-leaf-right.png" alt="">
											</div>
										</div>
									</div>
									<h2>
										پکیج های متنوع و قیمت های مناسب
									</h2>
									<!-- TITLE END-->
									<p>به آهنگ زیبایی ما گوش دهید</p>
									<a href="javascript:;" class="site-button site-btn-effect">اطلاعات بیشتر</a>
									@*<div class="hilite-large-title">
											<span>Offer</span>
										</div>*@
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>
			<!-- DISCOUNT WE LOVE SECTION START -->
			<!-- CLIENT LOGO SECTION START -->
			<div class="section-full bg-orange-light">
				<div class="container">
					<div class="section-content">


					</div>
				</div>
			</div>
			<!-- CLIENT LOGO  SECTION End -->
			<!-- OUR TEAM START -->
			<div class="section-full p-t80 p-b50 bg-white">
				<div class="container">
					<div class="section-content">

						<!-- TITLE START-->
						<div class="center wt-small-separator-outer section-head">
							<div class="wt-small-separator">
								<div class="sep-leaf-left"><img src="/images/sep-leaf-left.png" alt=""></div>
								<div>سبزه ناز</div>
								<div class="sep-leaf-right"><img src="/images/sep-leaf-right.png" alt=""></div>
							</div>
							<h2 data-title="Experts">تیم سبزه ناز</h2>
						</div>

						<!-- TITLE END-->

						<div class="section-content">
							<div class="row justify-content-center">
								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">

										<div class="wt-media">
											<img src="/images/team/pic1.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>
											</div>
										</div>

										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail  text-center">
												<h3 class="m-t0">سودابه رضوانی</h3>
												<span class="title-style-2 team-position">آرایش</span>
											</div>
										</div>

									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">

										<div class="wt-media">
											<img src="/images/team/pic2.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>

											</div>
										</div>

										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail  text-center">
												<h3 class="m-t0">سودابه رضوانی</h3>
												<span class="title-style-2 team-position">خدمات ناخن</span>
											</div>
										</div>

									</div>
								</div>

								<div class="col-lg-4 col-md-6 col-sm-12 m-b30">
									<div class="wt-team-1">

										<div class="wt-media">
											<img src="/images/team/pic3.jpg" alt="">
											<div class="team-social-center">
												<ul class="team-social-bar">
													<li><a href="javascript:void(0);">Facebook</a></li>
													<li><a href="javascript:void(0);">Twitter</a></li>
													<li><a href="javascript:void(0);">Instagram</a></li>
												</ul>
											</div>
										</div>
										<div class="wt-info bg-white p-a30 shadow-lg">
											<div class="team-detail  text-center">
												<h3 class="m-t0">سودابه رضوانی</h3>
												<span class="title-style-2 team-position">شنیون</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-full p-t80 p-b50 bg-orange-light">
				<div class="container">
					<div class="section-content">
						<div class="section-content">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="contact-right-section">
										<div class="wt-media">
											<img src="/images/contact-img.jpg" alt="">
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-12 col-sm-12">
									<div class="home-contact-section m-b30">
										<form class="cons-contact-form" method="post" action="form-handler2.php">

											<!-- TITLE START-->
											<div class="left wt-small-separator-outer">
												<div class="wt-small-separator">
													<div class="sep-leaf-left">
														<img src="/images/sep-leaf-left.png" alt="">
													</div>
													<div>تماس با ما</div>
													<div class="sep-leaf-right">
														<img src="/images/sep-leaf-right.png" alt="">
													</div>
												</div>
											</div>
											<h2>سوالات خود در رابطه با خدمات سالن را با تکمیل فرم زیر بپرسید.</h2>
											<!-- TITLE END-->

											<div class="row m-b30">


												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<input name="email" type="text" class="form-control" required placeholder="ایمیل">
													</div>
												</div>
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<input name="username" type="text" required class="form-control" placeholder="نام">
													</div>
												</div>
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<input name="phone" type="text" class="form-control" required placeholder="تلفن">
													</div>
												</div>

												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<input name="subject" type="text" class="form-control" required placeholder="موضوع پیام">
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<textarea name="message" class="form-control" rows="4" placeholder="پیام"></textarea>
													</div>
												</div>

												<div class="col-md-12 dirrtl">
													<button type="submit" class="site-button site-btn-effect">ارسال پیام</button>
												</div>

											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-full  p-t80 p-b40 bg-white blog-post-outer-3 ">
				<div class="container">
					<div class="center wt-small-separator-outer section-head">
						<div class="wt-small-separator">
							<div class="sep-leaf-left"><img src="/images/sep-leaf-left.png" alt=""></div>
							<div>سبزه ناز</div>
							<div class="sep-leaf-right"><img src="/images/sep-leaf-right.png" alt=""></div>
						</div>
						<h2 data-title="Blog">مقالات و اخبار</h2>
					</div>
					<div class="section-content">
						<div class="row d-flex justify-content-center">
							<div class="col-lg-4 col-md-6 col-sm-12">
								<!--Block one-->
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/images/blog/default/thum1.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>20 دی 1398</span> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">چطور آرایش خود را در طول روز ترمیم کنیم</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">ادامه مطلب</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/images/blog/default/thum2.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>20 دی 1398</span> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">همه چیز درباره دکلره مو</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">ادامه مطلب</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12">
								<div class="blog-post date-style-2">
									<div class="wt-post-media wt-img-effect zoom-slow">
										<a href="javascript:;"><img src="/images/blog/default/thum3.jpg" alt=""></a>
									</div>
									<div class="wt-post-info bg-white p-a20 p-b0 text-center">
										<div class="wt-post-meta ">
											<ul>
												<li class="post-date"><span>20 دی 1398</span> </li>
											</ul>
										</div>
										<div class="wt-post-title ">
											<h3 class="post-title"><a href="javascript:;" class="site-text-primary">برای انتخاب رنگ مو عروس به چه نکاتی باید توجه کرد</a></h3>
										</div>
										<div class="wt-post-readmore ">
											<a href="javascript:;" class="site-button-link black">ادامه مطلب</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="site-footer footer-large footer-light text-white">

			<div class="footer-top  dot2-left-top-img">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">اطلاعات تماس</h4>
								<ul class="widget_address">
									<li><i class="fa fa-map-marker"></i>بندعباس، خیابان امام خمینی، پلاک 18، واحد 2</li>
									<li><i class="fa fa-envelope"></i>info@sabzehnaz.com</li>
									<li> <i class="fa fa-phone"></i> ٣٣٧٣٤٣٤٢ </li>
								</ul>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="widget widget_services">
								<h4 class="widget-title">لینک های مفید</h4>
								<ul>
									<li><a href="javascript:;">درباره ما</a><a href="javascript:;">نمونه کارها</a></li>
									<li><a href="javascript:;">اطلاعات تماس</a><a href="javascript:;">تماس با ما</a></li>
									<li><a href="javascript:;">آدرس در گوگل مپ </a><a href="javascript:;">مقالات</a></li>
									<li><a href="javascript:;">تیم ما </a><a href="javascript:;">صفحه اینستاگرام</a></li>
									<li><a href="javascript:;">خدمات </a><a href="javascript:;">کانال تلگرام</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="widget widget_about">
								<div class="logo-footer clearfix p-b15">
									<a href="index.html"><img src="/images/logo.png" alt=""></a>
								</div>
								<p>توضیحات مختصری از تاریخچه سالن در اینجا ذکر می شود. توضیحات مختصری از تاریخچه سالن در اینجا ذکر می شود. توضیحات مختصری از تاریخچه سالن در اینجا ذکر می شود. توضیحات مختصری از تاریخچه سالن در اینجا ذکر می شود. توضیحات مختصری از تاریخچه سالن در اینجا ذکر می شود.</p>

								<div class="newsletter-input">
									<div class="input-group">
										<input id="email" type="text" class="form-control" name="email" placeholder="ایمیل خود را وارد نمایید">
										<div class="input-group-append">
											<button type="submit" class="input-group-text nl-search-btn text-black site-bg-secondry">ثبت نام در خبر نامه</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="wt-footer-bot-left d-flex justify-content-between">
						<span class="copyrights-text">تمامی حقوق این وب سایت متعلق به سالن زیبایی سبزه ناز می باشد. طراحی و توسعه توسط <a href="https://zavoshsoftware.com">زاوش</a></span>
					</div>
				</div>
			</div>

		</footer>
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
	</div>
	<div class="loading-area">
		<div class="loading-box"></div>
		<div class="loading-pic">
			<div class="cssload-loader">
				<div class="cssload-dots">
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
					<div class="cssload-dot"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="/Scripts/Frontend/jquery-2.2.0.min.js"></script>
	<script src="/Scripts/Frontend/popper.min.js"></script>
	<script src="/Scripts/Frontend/bootstrap.min.js"></script>
	<script src="/Scripts/Frontend/bootstrap-select.min.js"></script>
	<script src="/Scripts/Frontend/magnific-popup.min.js"></script>
	<script src="/Scripts/Frontend/waypoints.min.js"></script>
	<script src="/Scripts/Frontend/counterup.min.js"></script>
	<script src="/Scripts/Frontend/waypoints-sticky.min.js"></script>
	<script src="/Scripts/Frontend/isotope.pkgd.min.js"></script>
	<script src="/Scripts/Frontend/owl.carousel.min.js"></script>
	<script src="/Scripts/Frontend/stellar.min.js"></script>
	<script src="/Scripts/Frontend/theia-sticky-sidebar.js"></script>
	<script src="/Scripts/Frontend/custom.js"></script>
	<script src="/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>
	<script src="/Scripts/Frontend/rev-script-1.js"></script>
</body>
</html>
